body {
  background-color: rgb(177, 152, 199);
}

#main {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: table-row;
  color: #dc1c1c;
  background-color: rgb(203, 239, 239);
}

thead {
  display: table-header-group;
  vertical-align: middle;
  background-color: aquamarine;
}

#teams tr:nth-child(even) {
  background-color: #f2f2f2;
}

#teams tfoot input[type="text"] {
  width: 100%;
}
#teams tfoot input :not([type="image" i]) {
  box-sizing: border-box;
}
